@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
  margin:0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
  font-size: 14px;
}

h1{
    letter-spacing: 0.1rem;
    font-family: "Oswald",sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img{
  border-radius: 5px;
}

.container{
  width: 95%;
  height: 22rem;
  margin: 2rem auto;
  padding: 1rem 1rem 3rem 1rem;
  background-color: white;
  border-radius: 5px;
}

.container p {
  padding-bottom: 0.5rem;
  text-align: center;
}

.filter-container{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3rem;
  box-sizing: border-box;
}

.filter-container input{
  font-family: inherit;
}

.filter-container label{
  font-size: 12px;
}

.home-container{
  width:100%;
  display: flex;
  flex-direction: column;
}

b{
  color:#072E5C
}

.user-container{
  width:95%;
  margin:0 auto;
  background-color: white;
  padding: 1rem;
}

@media (min-width:1000px) {
  .home-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 1rem;
    box-sizing: border-box;
  }

  .container{
    width: 49%;
    margin: 0;
    margin-bottom: 2rem;
    background-color: white;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
